<div id="barec2ssm" class="barec2ssm">
    <button id="showHistoryBtn" class="button">Show history</button>
    <button id="showMonitorBtn" class="button">Show monitor</button>
</div>

<div id="ssm-instances" class="col-3 ssm-instances">
    <input type="text" id="searchinstances" placeholder="Search instances...">
</div>

<div id="ssm-data" class="col-9">
    <h2 id="ssm-data-instance" class="text-center">Instance data</h2>
    <div id="w" class="container-fluid ssm-table"></div>
    <div id="connections" class="container-fluid ssm-table"></div>
    <div id="updatepackages" class="container-fluid ssm-table"></div>
    <div id="installedpackages" class="container-fluid ssm-table"></div>
    <div id="services" class="container-fluid"></div>
    <div id="processpermises" class="container-fluid ssm-table"></div>
    <div id="processdata" class="container-fluid ssm-table"></div>
    <div id="processlsof" class="container-fluid"></div>
</div>


<div id="history" class="container-fluid d-none">
    <div id="historyrow" class="row"></div>
</div>
<div id="monitor" class="container-fluid d-none">
    <div class="row">
        <div id="monitoreddata" class="col-12"></div>
    </div>
</div>    
